## Microbial mutagenicity AMES competition

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 

import matplotlib.pyplot as plt

In [9]:
df = pd.read_excel('D:/ML_Pyton_course/ML_Python/project/datasets/ames_datapreprocessing_knime.xlsx')
df.head()

,AmesResult,Structure,SlogP,SMR,LabuteASA,TPSA,AMW,ExactMW,NumLipinskiHBA,NumLipinskiHBD,...,MQN33,MQN34,MQN35,MQN36,MQN37,MQN38,MQN39,MQN40,MQN41,MQN42
0,C,[Na+].[Na+].CC1(C)SC2C(NC(=O)C(C([O-])=O)C3=CS...,-8.11340,85.0967,207.568628,129.67,428.399,428.008867,8,1,...,0,1,2,0,0,0,0,0,2,1
1,C,FC(F)(F)C1=CC(N\N=C2/C(=O)C(=CC3=CC=CC=C23)C(=...,11.17980,225.8008,365.430948,141.12,930.476,928.036083,10,4,...,0,0,0,7,0,0,0,0,4,2
2,C,CNC(=O)\C=C(/C)OP(=O)(OC)OC,1.05370,50.5332,82.840931,73.86,223.165,223.060959,6,1,...,0,0,0,0,0,0,0,0,0,0
3,C,CC(C)NC(=O)N1CC(=O)N(C1=O)C1=CC(Cl)=CC(Cl)=C1,2.88000,79.7177,131.140795,69.72,330.171,329.033397,6,1,...,0,0,1,1,0,0,0,0,0,0
4,C,C\C(CC\C=C(\C)C1CC(=O)C(C)(C)O1)=C/CC1=C(O)C(C...,5.22402,113.9341,176.578705,83.83,420.933,420.170352,5,2,...,0,0,1,1,0,0,0,0,0,0

In [10]:
df.shape

(12138, 121)

In [11]:
df.isnull().sum()

AmesResult                     6
Structure                      0
SlogP                          0
SMR                            0
LabuteASA                      0
TPSA                           0
AMW                            0
ExactMW                        0
NumLipinskiHBA                 0
NumLipinskiHBD                 0
NumRotatableBonds              0
NumHBD                         0
NumHBA                         0
NumAmideBonds                  0
NumHeteroAtoms                 0
NumHeavyAtoms                  0
NumAtoms                       0
NumStereocenters               0
NumUnspecifiedStereocenters    0
NumRings                       0
NumAromaticRings               0
NumSaturatedRings              0
NumAliphaticRings              0
NumAromaticHeterocycles        0
NumSaturatedHeterocycles       0
NumAliphaticHeterocycles       0
NumAromaticCarbocycles         0
NumSaturatedCarbocycles        0
NumAliphaticCarbocycles        0
FractionCSP3                   0
                              ..
MQN13                          0
MQN14                          0
MQN15                          0
MQN16                          0
MQN17                          0
MQN18                          0
MQN19                          0
MQN20                          0
MQN21                          0
MQN22                          0
MQN23                          0
MQN24                          0
MQN25                          0
MQN26                          0
MQN27                          0
MQN28                          0
MQN29                          0
MQN30                          0
MQN31                          0
MQN32                          0
MQN33                          0
MQN34                          0
MQN35                          0
MQN36                          0
MQN37                          0
MQN38                          0
MQN39                          0
MQN40                          0
MQN41                          0
MQN42                          0
Length: 121, dtype: int64